<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <form action="/product/" method="post" enctype="multipart/form-data">
        <input type="text" name="name">
        <input type="text" name="brand">
        <input type="text" name="selling_price">
        <input type="text" name="description">
        <input type="text" name="category_id">
        <input type="text" name="sub_category_id">
        <input type="file" name="image" >
        <button type="submit">Submit</button>

    </form> -->
    <form action="/add_category/" method="post" enctype="multipart/form-data">
        <input type="text" name="name">
       
        <input type="text" name="description">
      
        <input type="file" name="category_image" >
        <button type="submit">Submit</button>

    </form>
</body>
</html>